<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    }

    button{
        background-color: rgb(97, 97, 254); 
        border-radius: 5px; 
        color: white; 
        padding: 3px;
    }
    </style>
    <title > {{name}} Change Notice </title>
</head>
<body>
    <p>We'd like to notify you that your {{name}} has been updated.</p> 
    <p>If you didn't ask to change your {{name}}, you can click this button below.</p> 
    <button>Undo the change</button>
    <p>Thank you, <br/>Purwadhika Team</p>
</body>
</html>