body{
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

button{
    background-color: rgb(97, 97, 254); 
    border-radius: 5px; 
    color: white; 
    padding: 3px;
}